main {
  height: 100%;
  display: flex;
  flex-direction: column;
  /*  justify-content: center; */
  align-items: center;
}

.home {
  gap: 50px;
  transition: 0.3s;
}

.dragging {
  background-color: rgba(0, 0, 0, 0.3);
}
