.container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;

  summary {
    border-radius: 12px;
    background-color: white;
    padding: 15px 30px;
    width: 90dvw;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &::marker {
      content: "d";
    }
  }
}

.columns {
  margin-top: 20px;
  position: relative;
  display: grid;
  grid-template-columns: 100px 1fr;
  height: 400px;
  width: 100%;
  background-color: #f2f4f6;
  border-radius: 12px;

  overflow-y: scroll;

  &::-webkit-scrollbar {
    display: none;
  }
}
